@model Application.DTO.Students.StudentFullDTO

@{
    ViewData["Title"] = "Dodawanie Kursanta";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <div class="container mt-5">
        <form asp-action="Add" asp-controller="Student" metod="post" novalidate>
             <div class="row">
                  <div class="col-md-6">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.StudentId)
                            </div>
    
                            <div class="form-group">
                                <label asp-for="FirstName">Imię:</label>
                                <input asp-for="FirstName" id=FirstName class="form-control" />                                
                                @Html.ValidationMessageFor(model => model.FirstName,"" , new { @class = "text-danger" })
                            </div>
            

                            <div class="form-group">
                                <label asp-for="LastName">Nazwisko:</label>
                                <input asp-for="LastName" class="form-control" />    
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label asp-for="DateOfBirth">Data urodzenia:</label>
                                <input asp-for="DateOfBirth" class="form-control" type="date" id="dateOfBirthInput" />
                                 @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })    
                             </div>

                            
                            <div class="form-group">
                                <label asp-for="PESEL">PESEL:</label>
                                <input asp-for="PESEL" id="PESEL" class="form-control" />
                                @Html.ValidationMessageFor(model => model.PESEL, "", new { @class = "text-danger" })
                            </div>

                            

                            <div class="form-group">
                                <label asp-for="Adress">Adres:</label>
                                <input asp-for="Adress" class="form-control" />
                                 @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                            </div>
                           

                            <div class="form-group">
                                <label asp-for="PostCode">Kod Pocztowy:</label>
                                <input asp-for="PostCode" class="form-control" />
                                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                            </div>
                            

                            <div class="form-group">
                                <label asp-for="City">Miasto:</label>
                                <input asp-for="City" class="form-control" />
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                           

                            <div class="form-group">
                                <label asp-for="Email">Adres e-mail:</label>
                                <input asp-for="Email" class="form-control" />
                                 @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                           

                            <div class="form-group">
                                <label asp-for="PhoneNr">Telefon:</label>
                                <input asp-for="PhoneNr" class="form-control" />
                            </div>
                            @Html.ValidationMessageFor(model => model.PhoneNr, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label asp-for="Category">Kategoria:</label>
                                <input asp-for="Category" class="form-control" />
                            </div>
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label asp-for="Status">Aktywny:</label>
                                <input asp-for="Status" class="form-control" />
                            </div>
            
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
                <a href="@Url.Action("List")" class="btn btn-primary">Anuluj</a>
            </div>
            
        
        </form>
    </div>


    

<script>    
    var currentDate = new Date();    
    var formattedDate = currentDate.toISOString().split('T')[0];
    document.getElementById('dateOfBirthInput').value = formattedDate;
</script>




</body>
</html>
 